* {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  h1 {
    font-size: 5vmin;
    color: darkslategray;
    letter-spacing: 1vmin;
  }

  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }
  
  /* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
    padding: 20px;
  } */
  
  main {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    gap: 5vmin;
  }
  
  img {
    width: 100%;
    border-radius: 2vmin;
    padding: 5px;
    background-color: white;
  }
  
  h2 {
    margin-top: 5px;
    font-size: 5vmin;
    color: darkslategray;
    letter-spacing: 1vmin;
  }

  h3 {
    margin-top: 5px;
    font-size: 4vmin;
    color: darkslategray;
    letter-spacing: 1vmin;
  }
  
  button {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 4vmin;
    color: white;
    letter-spacing: 1vmin;
    background-color: black;
    border: none;
    border-radius: 2vmin;
    padding: 5px;
  }
  
  button:hover {
    color: white;
    background-color: darkgrey;
  }
