* {
  box-sizing: border-box;
  font-style: Arial;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

h1 {
  font-size: 5vmin;
  color: darkslategray;
  letter-spacing: 1vmin;
}

h2 {
  margin: 5px 0px 5px 0px;
  font-size: 5vmin;
  color: darkslategray;
  letter-spacing: 1vmin;
}

h3 {
  margin: 5px 0px 5px 0px;
  height: 20px;
  font-size: 4vmin;
  color: darkslategray;
  letter-spacing: 1vmin;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 10vmin);
  grid-template-rows: repeat(5, 10vmin);
  gap: 5vmin;
  margin: 10px 0px 5px 0px;
}

img {
  width: 100%;
  border: 5px;
  border-radius: 2vmin;
  padding: 5px;
  background-color: white;
}

button {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: 4vmin;
  color: white;
  letter-spacing: 1vmin;
  background-color: black;
  border: none;
  border-radius: 2vmin;
  padding: 8px;
}

button:hover {
  color: white;
  background-color: darkgrey;
}